<p>
  <strong>Start:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End:</strong>
  <%= @booking.end_date %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room_name %>
</p>

<%= link_to 'Destroy', @booking, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_room_url(current_user, @room) %>
