<h2>Check available rooms:</h2>

<%= form_tag rooms_availability_user_rooms_url, method: 'post', url: {action: "rooms_availability"}, html: {class: "authform"} do %>
  <div class="field">
    <%= label_tag :start_date %>
    <%= select_datetime DateTime.current, prefix: :start_check %>
  </div>

  <div class="field">
    <%= label_tag :end_date %>
    <%= select_datetime DateTime.current, prefix: :end_check %>
  </div>

  <%= submit_tag "Check availability", class: "btn btn-success" %>
<% end %>
<br><br>
<% if @available_rooms %>
  <% if @available_rooms.empty? %>
  <h3>No rooms available :(</h3>
  <% else %>
    <div class="panel panel-default right">
      <div class="panel-heading"><h4>Available rooms:</h4></div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% id = 0 %>
          <% @available_rooms.each do |room| %>
          <tr>
            <% if room.user_id == current_user.id %>
              <% id = id + 1 %>
              <td><%= id %></td>
              <td><%= link_to room.name , user_room_url(current_user, room) %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Rooms:</h4></div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% id = 0 %>
      <% @rooms.each do |room| %>
      <tr>
        <% if room.user_id == current_user.id %>
          <% id = id + 1 %>
          <td><%= id %></td>
          <td><%= link_to room.name , user_room_url(current_user, room) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Room', new_user_room_path(current_user), class: "btn btn-success" %>
<br>

<% end %>
