<h1>Rooms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <% if room.user_id == current_user.id %>
          <td><%= room.name %></td>
          <td><%= link_to 'Show', user_room_url(current_user, room) %></td>
          <td><%= link_to 'Edit', edit_user_room_path(current_user, room) %></td>
          <td><%= link_to 'Destroy', user_room_path(current_user, room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Room', new_user_room_path(current_user), class: "btn btn-success" %>
<br>
<h1>Availability:</h1>

<%= form_tag rooms_availability_user_rooms_url, method: 'post', url: {action: "rooms_availability"}, html: {class: "authform"} do %>
  <div class="field">
    <%= label_tag :start_date %>
    <%= select_datetime DateTime.current, prefix: :start_check %>
  </div>

  <div class="field">
    <%= label_tag :end_date %>
    <%= select_datetime DateTime.current, prefix: :end_check %>
  </div>

  <%= submit_tag "Check availability", class: "btn btn-success" %>
<% end %>
<br><br>
<% if @available_rooms %>
  <% if @available_rooms.empty? %>
  <h3>No rooms available :(</h3>
  <% else %>
    <table class="table">
      <h3>Available rooms:</h3>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @available_rooms.each do |room| %>
        <tr>
          <% if room.user_id == current_user.id %>
          <td><%= room.name %></td>
          <td><%= link_to 'Show', user_room_url(current_user, room) %></td>
          <td><%= link_to 'Edit', edit_user_room_path(current_user, room) %></td>
          <td><%= link_to 'Destroy', user_room_path(current_user, room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
  </table>
  <% end %>
<% end %>
