<p>
  <h3>Name: <%= @room.name %></h3>
</p>

<h3>Check availability:</h3>

<%= form_tag availability_user_room_url, method: 'post', url: {action: "availability"}, html: {class: "authform"} do %>
  <div class="field">
    <%= label_tag :start_date %>
    <%= select_datetime DateTime.current, prefix: :start_check %>
  </div>

  <div class="field">
    <%= label_tag :end_date %>
    <%= select_datetime DateTime.current, prefix: :end_check %>
  </div>

  <%= submit_tag "Check avalability" %>
<% end %>


<%= link_to 'Edit', edit_user_room_path(current_user, @room) %> |
<%= link_to 'Room bookings', room_bookings_path(@room) %> |
<%= link_to 'Back', user_rooms_path(current_user) %>
