<p>
  <h3>Name: <%= @room.name %></h3>
</p>

<h3>Check availability:</h3>

<%= form_tag availability_room_url, method: 'post', url: {action: "availability"}, html: {class: "authform"} do %>
  <div class="field">
    <%= label_tag :start %>
    <%= datetime_field_tag :start %>
  </div>

  <div class="field">
    <%= label_tag :end %>
    <%= datetime_field_tag :end %>
  </div>

  <%= submit_tag "Check" %>
<% end %>


<%= link_to 'Edit', edit_room_path(current_user) %> |
<%= link_to 'Back', user_rooms_path(current_user) %>
