<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Manager Dashboard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Devise Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    </header>
    <main role="main">
      <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <br>
              <li class="sidebar-brand">
                <%= link_to 'Home', root_path %>
              </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'My Rooms', user_rooms_path(current_user) %>
                </li>
                <li>
                  <%= link_to 'Availability(soon)', user_rooms_path(current_user) %>
                </li>
              <% end %>
              <%= render 'layouts/nav_links_for_auth' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="">
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <%= render 'layouts/navigation' %>
            <div class="container-fluid">
              <br>
              <div class="row">
                  <div>
                  <%= render 'layouts/messages' %>
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <!-- /#page-content-wrapper -->
        </div>
      </div>
      <!-- /#wrapper -->
    </main>
    <script type="text/javascript">
    /* Menu-toggle*/
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
