<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Manager Dashboard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Devise Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <!-- <div id="wrapper"> -->
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 centered">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <br>
            <div class="row">
                <div>
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
    </main>
  </body>
</html>
